:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #007bff;
  color: white;
  padding: 5px;
  text-align: center;
}

main {
  flex: 1;
  padding: 7px;
}

footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 7px;
}
